.box {
  max-width: 400px;
  margin: 50px auto;
  border: 1px solid rgb(222, 197, 197);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.in {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.in input {
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(212, 199, 199);
  border-radius: 4px;
}
.in button {
  background-color: greenyellow;
}
.task1 {
  text-align: left;
}
.task-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.task-items .time {
  color: gray;
}
.task-items button {
  align-self: flex-end;
  background-color: red;
  color: white;
}
